body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Layout Styles */
.layout-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  box-shadow: 2px 0 12px rgba(17,28,45,0.05);
  flex-shrink: 0; /* Evita que el sidebar se encoja */
}

.sidebar-link {
  padding: 10px 15px;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
  display: block; /* Para asegurar el área clicable completa */
}

.sidebar-link:hover {
  background-color: rgba(121,13,16,0.06);
}

.sidebar-link.active {
  background-color: #ffdad6;
  color: #8a1b1a !important;
}

.content-wrapper {
  overflow-x: auto; /* Evita desbordamientos */
  width: 100%;
}

.top-navbar {
  border-bottom: 1px solid #dfbfbc;
}